<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com-badrit-base64"
    version="0.2.0">
    <name>Base64</name>
    <description>Cordova Base64 Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,Base64</keywords>


    <js-module src="www/Base64.js" name="Base64">
        <clobbers target="navigator.Base64" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Base64">
                <param name="android-package" value="com.badrit.Base64.Base64Plugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/Base64Plugin.java" target-dir="src/com/badrit/Base64/" />

    </platform>

</plugin>
